section.grad-up.big-slider#secont-sec
  .slider.big-slider__slider#js-big-slider
    .swiper-wrapper
      .swiper-slide
        include slider-1.html
      .swiper-slide
        include slider-2.html
      .swiper-slide
        include slider-3.html
      .swiper-slide
        include slider-4.html
      .swiper-slide
        include slider-5.html
      .swiper-slide
        include slider-6.html
    .big-slider__bar
      .container
        .big-slider__bar-wrap
          .slider__scrollbar-wrap
            .swiper-scrollbar.slider__scrollbar.js-swiper-scrollbar
          button.btn.slider__next.swiper-button-next.js-swiper-button-next(title="Далее")
            svg(width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg")
              path(d="M11 0.929688L9.5 2.42969L14.0703 7H0V9H14.0703L9.5 13.5703L11 15.0703L18.0703 8L11 0.929688Z")