@font-face {
    font-family: 'Sharp Grotesk Book 15';
    src: url('../fonts/SharpGroteskBook15-Regular.eot');
    src: url('../fonts/SharpGroteskBook15-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskBook15-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskBook15-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskBook15-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskBook15-Regular.svg#SharpGroteskBook15-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Bold Italic 20';
    src: url('../fonts/SharpGroteskBoldItalic20-Regular.eot');
    src: url('../fonts/SharpGroteskBoldItalic20-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskBoldItalic20-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskBoldItalic20-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskBoldItalic20-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskBoldItalic20-Regular.svg#SharpGroteskBoldItalic20-Regular') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Bold 15';
    src: url('../fonts/SharpGroteskBold15-Regular.eot');
    src: url('../fonts/SharpGroteskBold15-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskBold15-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskBold15-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskBold15-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskBold15-Regular.svg#SharpGroteskBold15-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Medium 15';
    src: url('../fonts/SharpGroteskMedium15-Regular.eot');
    src: url('../fonts/SharpGroteskMedium15-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskMedium15-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskMedium15-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskMedium15-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskMedium15-Regular.svg#SharpGroteskMedium15-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Medium 20';
    src: url('../fonts/SharpGroteskMedium20-Regular.eot');
    src: url('../fonts/SharpGroteskMedium20-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskMedium20-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskMedium20-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskMedium20-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskMedium20-Regular.svg#SharpGroteskMedium20-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sharp Grotesk Bold Italic 15';
    src: url('../fonts/SharpGroteskBoldItalic15-Regular.eot');
    src: url('../fonts/SharpGroteskBoldItalic15-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpGroteskBoldItalic15-Regular.woff2') format('woff2'),
        url('../fonts/SharpGroteskBoldItalic15-Regular.woff') format('woff'),
        url('../fonts/SharpGroteskBoldItalic15-Regular.ttf') format('truetype'),
        url('../fonts/SharpGroteskBoldItalic15-Regular.svg#SharpGroteskBoldItalic15-Regular') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}