extends ../layout/layout

block main
  include ../modules/main-pic_bank.html
  include ../modules/location-sec_bank.html
  include ../modules/slide-sec_bank
  include ../modules/faq-sec.html
  include ../modules/cases-sec.html
  include ../modules/demo-sec_bank.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html