extends ../layout/layout

block main
  include ../modules/main-pic_city.html
  include ../modules/location-sec_city.html
  include ../modules/slide-sec_city
  include ../modules/faq-sec.html
  include ../modules/cases-sec.html
  include ../modules/demo-sec_city.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html