extends ../layout/layout

block main
  include ../modules/main-pic_company.html
  include ../modules/location-sec_company.html
  include ../modules/slide-sec_company
  include ../modules/faq-sec.html
  include ../modules/cases-sec.html
  include ../modules/demo-sec_company.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html