extends ../layout/layout

block main
  include ../modules/main-sec.html
  include ../modules/big-slider
  include ../modules/platform-sec.html
  include ../modules/analityc-sec.html
  include ../modules/advantages-sec.html
  include ../modules/partners-sec.html
  include ../modules/about-sec.html
  include ../modules/news-sec.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html