extends ../layout/layout

block main
  include ../modules/main-pic-slider.html
  include ../modules/locations-sec.html
  include ../modules/demo-sec_industry.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html