extends ../layout/layout

block main
  include ../modules/main-pic_shop.html
  include ../modules/location-sec_shop.html
  include ../modules/slide-sec_shop
  include ../modules/faq-sec.html
  include ../modules/cases-sec.html
  include ../modules/demo-sec_shop.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html