extends ../layout/layout

block main
  include ../modules/main-pic_transport.html
  include ../modules/location-sec_transport.html
  include ../modules/slide-sec_transport
  include ../modules/faq-sec.html
  include ../modules/cases-sec.html
  include ../modules/demo-sec_transport.html
  include ../modules/catalog-sec.html
  include ../modules/smi-sec.html